
! URxvt

URxvt.font: xft:Roboto Mono:pixelsize=14:antialias=true
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.mouseWheelScrollPage: true
URxvt.saveLines: 1024
URxvt.transparent: true
URxvt.shading: 10
URxvt.depth: 32
URxvt.internalBorder: 8

! Xft

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96
